<h2 class="title">Solicitud de Vacaciones</h2>
<form id="vacation-form" (ngSubmit)="onSubmit()" class="form">
  <div class="form-group">
    <label for="dias-vacaciones">Días de Vacaciones Solicitados:</label>
    <input type="number" id="diassolicitados" name="diassolicitados" required [(ngModel)]="diassolicitados">
  </div>

  <div class="form-group">
    <label for="fecha-inicio">Fecha de Inicio:</label>
    <input type="date" id="fecha-inicio" name="fecha-inicio" required [(ngModel)]="fechainicio">
  </div>

  <div class="form-group">
    <label for="fecha-fin">Fecha de Fin:</label>
    <input type="date" id="fecha-fin" name="fecha-fin" required [(ngModel)]="fechafin">
  </div>

  <div class="form-group">
    <label for="nota">Nota:</label>
    <textarea id="nota" name="nota" [(ngModel)]="notasolicitud"></textarea>
  </div>
  
  <div class="form-group">
    <button type="submit" class="submit-button">Solicitar Vacaciones</button>
  </div>
</form>
